<div class='device-toolbar'>
<button type="button" class="btn btn-default res-new" data-toggle="modal">
	<span class="glyphicon glyphicon-plus"></span> New device
</button>
</div>

<table class="table" id="devices" data-toggle="table" data-card-view="true" data-toolbar=".device-toolbar">
		<thead>
		<tr>
			<th data-field="name">Name</th>
			<th data-field="platform">Platform</th>
			<th data-field="id">Device Id</th>
			<th data-field="ip">Device Ip</th>
			<th data-field="tablet">Tablet</th>
		</tr>
	</thead>
</table>

<div class="modal fade new-res" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">New Device</h4>
	      	</div>
			<form role="form" id="devices">
				<div class="modal-body">
						<input type="text" id="deviceId" name="_id" hidden="true">
						<div class="form-group">
							<label for="deviceName">Name</label>
							<input type="text" class="form-control" id="deviceName" name="name" placeholder="Enter device name">
						</div>
						<div class="form-group">
							<label for="devicePlatform">Platform</label>
							<select class="form-control" id="devicePlatform" name="platform">
								<option value="android">Android</option>
								<option value="ios">iOS</option>
							</select>
						</div>
						<div class="form-group" id="deviceIdGroup">
							<label for="deviceId">Device ID/UDID</label>
							<input type="text" class="form-control" id="deviceId" name="id" placeholder="Enter device id">
						</div>
						<div class="form-group" id="deviceIpGroup" style="display:none">
							<label for="deviceIp">Device IP address</label>
							<input type="text" class="form-control" id="deviceIp" name="ip" placeholder="Enter iOS device ip address">
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" id="deviceTablet" name="tablet" value="true">Is tablet
							</label>
						</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-danger delete-res">Delete</button>
					<button type="submit" class="btn btn-primary create-res">Create</button>
				</div>
			</form>
		</div>
	</div>
</div>