<div class="tab-pane">
	<div class="panel panel-default">
		<div class="col-md-3 file-list">
			<ul style="list-style-type:none;padding:0;margin-bottom:0;">
				<li class="list-group-item admin-list-item"><a href="#" class="show-detail" id="projects">Manage Projects</a></li>
				<li class="list-group-item admin-list-item"><a href="#" class="show-detail" id="devices">Manage Devices</a></li>
				<li class="list-group-item admin-list-item"><a href="#" class="show-detail" id="settings">General Settings</a></li>
			</ul>
		</div>
		<div class="col-md-9 admin-detail" id="admin-detail"></div>
		<div class="row"></div>
	</div>
</div>